body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: white;
}

.container {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    gap: 100px 50px;
}

.uno {
    background: #FABEBE;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.dos {
    background: #D1ACFC;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tres {
    background: #58CCD6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}